.container{
    width: auto;
    height: auto;
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;
    /* border: solid; */

}
.quick-flex{
    display: flex;
    justify-content: space-between;
}
.social-m,ul,li{
    display: flex;
padding-inline:20px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    
}
 .nav ul li a{
    text-decoration: none;
    font-size: 20px;


}
.log{
    font-size: 25px;
    color: blue;
    font-style: normal;

}
.image{
    background-image: url(../slide-1.jpg);
    background-size: cover;
    background-position: center;
    height: 442px;
    width: 1317px;
     


}
h1{
    font-style: initial;
    font-size: 50px;
    
}
p{
    font-size: 25px;
}
button{
    color: aqua;
    font-size: 20px;


}
/* .about-flex{
    
    display: flex;
    margin: 20px;
    box-shadow: 0 0 10px rgb(102, 89, 80);
} */

.aboutbox{
    display: flex;

}
.img{
    width: 50%;
    background-image: url(../about.jpg);
    background-size:cover;
    height: 630px;
}
.a-text{
    width: 50%;
}
.lotext{
    display: flex;
}
.icon{
    width: 30%;
}
.text-low{
    width: 70%;
}
.uptext h2{
   color: rgb(54, 73, 80);
   text-align: center;
}
 p{
    font-size: 20px;
    padding-left: 35px;
}
.ico-1{
    height: 50%;
    margin-left: 30%;
    padding-top: 20%;
    font-size: 350%;
    border: solid2 2px black;
}

.ico-2{
    height: 50%;
    margin-left: 30%;
    padding-top: 20%;
    font-size: 350%;
    border: solid2 2px black;
}
 .flex-rb{  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
 
 }
 .box{
   width: 30%;
   padding: 10px 15px;
   border: solid 1px rgb(64, 98, 102);
   border-top: 0px;
 
 }
 .box:nth-child(1){
    border-left: 0px;
    border-right: 0px;
 }
 .box:nth-child(3){
    border-left: 0px;
    border-right: 0px;
 }
 .box:nth-child(4){
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 }
 .box:nth-child(6){
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 }
 .box:nth-child(5){
    border-bottom: 0px;
 }
 .box h3{
    color: rgb(40, 230, 230);
 }
 .flex-rew{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .rewbox{
    width: 25%;
    text-align: center;
    box-shadow: 0 0 15px rgb(165, 165, 165);
    margin-left: 30px;
    margin-right: 30px;
    background-color: white
 }
 .rewardbox{
    background-color: rgb(246, 248, 248);
 }
 .rewardbox h2{
    color: rgb(26, 114, 230);
 }
 .service-box{
    text-align: center;
    color: dimgray;
    font-size: 40px;


 }
 .service-icon {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

 }
 .icon1{
    width: 33.33%;
    align-items: center;
    


 }
.iconlink{
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(197, 195, 195);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 40%;

} 
.iconlink i{
    text-align: center;

}
hr{
    width: 20%;
    columns: blue;

}
.portfoliosection{
    text-align: center;
    font-size: 200px;
    color: dimgrey;
  

}
.portfolionav{
    display: flex;
    font-size: 20px;
    justify-content: center;
}
button a{
    text-decoration: none;
    color:black;
    
}
.portfolionav button{
    height: 40px;
    width: 60px;
    border: solid 1px rgb(10, 119, 170);
    margin-right: 10px;
    border-radius: 6px;
     
}
.portfolionav button:hover {
    background-color: brown;
}
.portfolionav button:hover a{
    color: rgb(255, 254, 254);

}
.box1{
    width: 33.33%;
    height: 267px;
    position: relative;
    overflow: hidden;

}
.box1 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s;
}
.shadow{
     position: absolute;
    background: rgb(0 0 0/0.4);
    width: 100%;
    height: 267px;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-align: center;
    justify-content: center;
}
.box1:hover .shadow{
    opacity: 1;
    transition: .5s;
}
.portfolioimage{
    display: flex;
    
    

}
.shadowicon{
    display: flex;
    text-align: center;
    justify-content: center;
}
.shadowicon a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:white ;
    line-height: 35px;
    margin-right: 5px;
}
.box1{
    margin-left: 10px; 
    margin-top: 10px;

}
.shadow .shadowcontent{
    transform: translateY(-20px);
    transition: .5s;
}
.box1:hover .shadowcontent{
    transform: translateY(0px);
    transition: .5s;
}
.box1:hover img{
    transform: scale(1.1);
    transition: .5s;
}
.portfolio-box{
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
}
.portfolio-content{
    position: relative;
    overflow: hidden;


}
.portfolio-content img{
    display: block;
     width: 100%;
     height: auto;
     transition: all 0.5s ease;
     
}
.portfolio-content:hover img{
    transform: scale(1.1);
}

.portfolio-text{
    background-color: rgba(0,0,0,0.30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all0.5 ease;
    


    

}
.portfolio-content:hover .portfolio-text{
    opacity: 1;


}
.portfolio-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;


}
.portfolio-icons a{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
}
.portfolio.info{
    transform: translateY(-20px);
    opacity: 0;
    transition: all0.5s ease;
    

}
.portfolio-content:hover .portfolio.info{
    transform: translateY(0px);
    opacity: 1;
}
.portfoliobox3{
    width: 33.33%;
}

h1{
    text-align: center;
    color: darkgray;

}
h3{
    text-align: center;
}
.team-image1{
    width: 33.33%;
    display: flex;
    
}
.team-image1 {
    width: 25%;
    height: 300px;

}
.frequently-qa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:30px ;  
}
.flex-faq{
    width: 50%;
    height: auto;
    text-align: left;
    font-size: 20px;     
   }
  .faq{
    background-color:#efefef;
    padding-top: 25px;  
    margin-top: 50px;
}
.flexbox-faq h4{
    margin-left: 10px;
    color: #090f15;
    text-align: left;
    
}
/* Contact */
.flex-contactbox{
    margin-top: 80px;
}
.contacu-us{
    margin-top: 50px;
}
.flex-contact{
    width: 100%;
    display: flex;
}
.flex-addres{
    width: 50%;
    height: 200px;
    box-shadow: 0  0 10px;
}
.flex-icon,
.mail-icon,
.call-icon{
    display: flex;
    border-radius: 50%;  
    width: 50px ;
    height: 50px;
    background-color: #f6ffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
  margin-top: 20px;
    border: 2px dotted #090f15;
    font-size: 22px;
    color: rgb(5, 114, 247);
}
.contact-address{
    text-align: center;
    line-height: 5px
}
.mail-us{
    margin-left: 20px;
    width: 25%;
    height: 200px;
    box-shadow: 0  0 10px;
}

.call-us{
    margin-left: 20px;
    width: 25%;
    height: 200px;
    box-shadow: 0  0 10px;
}
.flex-form{
    margin: 30px 10px;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.form-contain{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.row50{
    width: 50%;
    padding: 0 25px;
}
.row100{
    width: 100%;
    padding: 0 25px;
}
.for-user{
    width: 100%;
    height: 40px;
    border: solid 1px #ced4da;   
}
.for-user:focus{
    outline: 0;
    border: solid 1px #0d6efd;
}
.form-text{
    margin-bottom: 20px;
}
.form-text textarea {
    height: 150px;  
}
.form-button{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.form-button button{
    padding: 15px 40px;
    font-size: 17px;
    background-color: #428bca;
    border: 0;
    color: #fff;
}
.form-button:hover button{
    background: rgb(0, 184, 216);

}

/* footer */
.footer{
    width: 100%;
    background:#587187;
   margin-top: 50px;
   height: 350px;
}
.flex-footer{
    width: 100%;
    display: flex;
    flex: 1 0 0;
    padding-top: 50px;
    padding-bottom: 50px;    
}
.flex-mamba,
.footer-icon,
.footer-link,
.footer-service,
.newsletter
{
    color: #fff;
    line-height: 25px;
}
.footer-icon a{
    text-decoration: none;
    display: flex;
    display: inline-flex;
    border-radius: 50%;  
    width: 30px ;
    height: 30px;
    background-color: #919e9e;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    margin: 0 auto ;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.footer-icon a:hover{
background-color: rgb(0, 146, 195);
}
.footer-link,
.footer-service
{
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
    line-height: 30px;
}
.newsletter{
    width: 45%;
    margin-left: 75px;
}
.a1{
   
    font-size: 26px;
}
.a2{
    font-size: 26px;
    background-color:#5295ce;
   border: 1px solid #5295ce;
}
.a2:hover{
    background: rgb(0, 0, 255);
}
/* legal */
.legal{
    width: 100%;
    height: 100px;
    margin-top: 0px;
    border-top: 1px solid ;
    background-color:#587187 ;
}
.flex-legal h5, h4{
    text-align: center;
    color: #f1f7fb;
}







